<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AutoSoftStopEnabled" value="True" />
		<add key="AutoSoftStopPercentageRange" value="10" />
		<add key="PixelsPerValue" value="2"/>
		<add key="PixelsPerValueSoftStop" value="50"/>
		<add key="PixelPerValueAutoSoftStop" value="15"/>
		<add key="LineLength" value="10"/>
		<add key="LineThickness" value="3"/>
		<add key="ValueTextSize" value="20"/>
		<add key="AngleMin" value="-135"/>
		<add key="AngleMax" value="270"/>
		<add key="AngleOverdrive" value="90"/>
	</appSettings>
</configuration>