* {
    
    background-color: transparent;
}

window {
    background-color: black;
}

button {
    background-image: none;
    background-color: black;
    border: 1px solid white;
    text-shadow: none;
    color: white;
    padding: 0;
}

    button:active {
        background-color: red;
    }

    button > label {
        margin: 0;
        padding: 0;
        border: 1px solid red;
    }

notebook {
    background-image: none;
    background-color: black;
    border: none;
}

    notebook tab label {
        color: white;
    }

    notebook tabs {
        background-color: black;
    }

    notebook tab {
        background-color: black;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 25px;
        margin-bottom: 10px;
    }

        notebook tab:checked {
            background-color: darkgreen;
        }

        notebook tab > label {
            font-size: 36px;
        }

grid {
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.turn-knob {
    background-color: black;
    color: white;
}